<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#fafafa" />
{{ if eq .Title "" -}}
<title>Justin D Fuller</title>
<meta name="description" content="Justin D Fuller" />
<meta property="og:title" content="Justin D Fuller" />
{{ else -}}
<title>{{ .Title }} | Justin D Fuller</title>
<meta name="description" content="{{ .Title }} | Justin D Fuller" />
<meta property="og:title" content="{{ .Title }} | Justin D Fuller" />
{{ end -}}

{{ if eq .Meta "" -}}
<link rel="icon" href="/image/favicon.ico" sizes="any" />
<link rel="icon" href="/image/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/image/icon.png" />
<link rel="manifest" href="/site.webmanifest" />
{{ else -}}
<link rel="icon" href="/image/{{ .Meta }}.ico" sizes="any" />
<link rel="icon" href="/image/{{ .Meta }}.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/image/{{ .Meta }}-apple-touch-icon.png" />
<link rel="manifest" href="/{{ .Meta }}.webmanifest" />
{{ end -}}

