<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}
    <style>
      {{ template "/nature/entry.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main>
      <div class="nature-content">
        <article>
          {{ template "/entry-header.template.html" .Entry }}
          {{ with .Entry }}
          {{ if .Image }}
          <div class="nature-hero">
            <img src="/image/nature/{{ .Image }}" alt="{{ .Title }}" />
          </div>
          {{ end }}
          <div class="nature-body">
            {{ .Markdown }}
          </div>
          {{ end }}
        </article>
      </div>
    </main>

    {{ template "/footer.template.html" . }}
  </body>
</html>
