<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    {{ template "/meta.template.html" . }}
    <style>
    {{ template "/nature/main.css" . }} 
    </style>
  </head>

  <body>
    <main>
      {{ range .Entries }}
        {{ if .Title }}
        <a href="/nature/{{ .Slug }}" />
          <img src="/image/nature/{{ .Image }}" alt="{{ .Image }}" />
          <span>{{ .Title }}</span>
        </a>
        {{ else }}
          <img src="/image/nature/{{ .Image }}" alt="{{ .Image }}" />
        {{ end }}
      {{ end }}
    </main>
  </body>
</html>
