* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 24px;
  font-family: Amiri, serif;
  background: #fcf9f4;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main {
  animation: fade-in 1s;
  max-width: 700px;
  margin: auto;
}

img {
  display: block;
  margin: 40px auto;
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
}

@media screen and (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #020215;
    color: white;
  }

  main > a {
    color: white;
  }

  main > a:hover,
  main > a:focus,
  main > a:active {
    background: white;
    color: #020215;
  }

  img {
    box-shadow:
      rgb(0 0 0 / 35%) 0 5px 25px 25px,
      0 0 40px 0 rgb(255 255 255 / 20%);
  }
}
