* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 24px;
  font-family: "Amiri", serif;
  background: #fcf9f4;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  animation: fadeIn 1s;
  max-width: 700px;
  margin: auto;
}

img {
  display: block;
  margin: 40px auto;
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #020215;
    color: white;
  }

  main > a {
    color: white;
  }

  main > a:hover,
  main > a:focus,
  main > a:active {
    background: white;
    color: #020215;
  }

  img {
    box-shadow:
      rgba(0, 0, 0, 0.35) 0px 5px 15px,
      -5px 10px 47px 0px rgba(255, 255, 255, 1);
  }
}
