<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}

    <style>
      {{ template "/story/main.css" . }}
    </style>
  </head>

  <body>
    <main>
      <!-- DRAFT <a href="/story/the_philosophy_of_lovers">The Philosophy of Lovers</a> -->
      <a href="/story/the_philosophy_of_trees">The Philosophy of Trees</a>
      <a href="/story/nothing">Nothing</a>
      <a href="/story/bridge">Bridge</a>
    </main>

    <script>
      {{ template "/story/main.js" . }}
    </script>
  </body>
</html>
