<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}

    <style>
      {{ template "/story/main.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main class="content-page">
      {{ template "/page-title.template.html" "Stories" }}
      
      <div class="content-container">
        <div class="stories-list">
          <!-- DRAFT <a href="/story/the_philosophy_of_lovers" class="story-link">The Philosophy of Lovers</a> -->
          <a href="/story/the_philosophy_of_trees" class="story-link">The Philosophy of Trees</a>
          <a href="/story/nothing" class="story-link">Nothing</a>
          <a href="/story/bridge" class="story-link">Bridge</a>
        </div>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

    <script>
      {{ template "/story/main.js" . }}
    </script>
  </body>
</html>
