<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}
    <style>
      {{ template "/aphorism/main.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main class="content-page">
      {{ template "/page-title.template.html" "Aphorisms" }}
      
      <div class="content-container">
        <div class="aphorisms-list">
          {{ range .Entries }}
          <article class="aphorism-card">
            <p class="aphorism-text">{{ printf "%s" . }}</p>
          </article>
          {{ end }}
        </div>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

    <script>
      {{ template "/aphorism/main.js" . }}
    </script>
  </body>
</html>
