<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}

    <style>
      {{ template "/review/main.css" . }}
    </style>
  </head>

  <body>
    <main>
      <a href="/review/zen-and-the-art-of-motorcycle-maintenance"
        >Zen and The Art of Motorcycle Maintenance</a
      >
      <a href="/review/living-on-24-hours-a-day">Living on 24 Hours a Day</a>
      <a href="/review/howards-end">Howards End</a>
      <a href="/review/walden">Walden</a>
      <a href="/review/the-history-of-modern-political-philosophy">The History of Modern Political Philosophy</a>
    </main>

    <script>
      {{ template "/review/main.js" . }}
    </script>
  </body>
</html>
