<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}

    <style>
      {{ template "/review/main.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main class="content-page">
      {{ template "/page-title.template.html" "Reviews" }}
      
      {{ template "/featured-list.template.html" dict "Entries" .Entries "BasePath" "review" "ExcerptField" "FirstParagraph" }}
    </main>

    {{ template "/footer.template.html" . }}

  </body>
</html>
