<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}
    <style>
      {{ template "/review/review.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main>
      <div class="review-content">
        <article>
          {{ template "/entry-header.template.html" .Entry }}
          <div class="review-body">
            {{ printf "%s" .Entry.Content }}
          </div>
        </article>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

    <script>
      {{ template "/review/review.js" . }}
    </script>
  </body>
</html>