<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}

    <style>
      {{ template "/word/main.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main class="content-page">
      <div class="page-header">
        <h1>Words</h1>
      </div>
      
      <div class="content-container">
        <section class="word-content">{{ printf "%s" .Entry }}</section>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

    <script>
      {{ template "/word/main.js" . }}
    </script>
  </body>
</html>
