<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}

    <style>
      {{ template "/make/main.css" . }}
    </style>
  </head>

  <body>
    <main>
      <a href="https://notes.justindfuller.com">Notes</a>
      <a href="https://interviews.justindfuller.com">Interviews</a>
      <a href="/grass">Grass</a>
      <a href="/kit">A Game with Kit</a>
      <a href="/avatar">Union Avatars</a>
      <a href="/weeks-remaining">Remaining Life</a>
    </main>

    <script>
      {{ template "/make/main.js" . }}
    </script>
  </body>
</html>
