<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}

    <style>
      {{ template "/make/main.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main class="content-page">
      <div class="page-header">
        <h1>Projects</h1>
      </div>
      
      <div class="content-container">
        <div class="projects-list">
          <a href="https://notes.justindfuller.com" class="project-link">Notes</a>
          <a href="https://interviews.justindfuller.com" class="project-link">Interviews</a>
          <a href="/grass" class="project-link">Grass</a>
          <a href="/kit" class="project-link">A Game with Kit</a>
          <a href="/avatar" class="project-link">Union Avatars</a>
          <a href="/weeks-remaining" class="project-link">Remaining Life</a>
        </div>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

    <script>
      {{ template "/make/main.js" . }}
    </script>
  </body>
</html>
