<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    <style>
      {{ template "/make/remaining.css" . }}
    </style>
  </head>

  <body>
    <main>
      <section>
        <h1>Weeks Remaining</h1>
        <p>
          Based on global averages, how many weeks do you have left to live?
          Find out and make it count.
        </p>
        <form id="form" onsubmit="handleSubmit(event, this)">
          <h2>When were you born?</h2>
          <input
            name="birthdate"
            required
            type="date"
            id="birthdate"
          />
          <button type="submit">Calculate</button>
        </form>
      </section>
      <section id="results" style="display: none">
        <h2>Results</h2>
        <p>
          You are
          <span id="age">?</span>
          weeks old. You statistically have
          <span id="remaining">?</span>
          weeks remaining to live. That leaves
          <span id="percent">?</span>% remaining.
        </p>
        <p>How will you use it?</p>
      </section>
    </main>

    <script>
      {{ template "/make/remaining.js". }}
    </script>
  </body>
</html>
