* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: max-content;
  display: block;
  font-size: 24px;
  font-family: Amiri, serif;
  background: #fcf9f4;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main {
  animation: fade-in 1s;
  padding: 20px;
  height: max-content;
  width: 100%;
  display: block;
}

section {
  max-width: 500px;
  margin: auto;
}

input,
select {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 5px;
  margin-bottom: 10px;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  line-height: 24px;
}

p,
select,
input {
  font-size: 20px;
  line-height: 30px;
}

input {
  background: white;
  color: #020215;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  font-size: 20px;
  font-family: inherit;
  border: 1px solid #020215;
  display: block;
  padding: 0;
  margin: 0;
}

button {
  background: white;
  color: #020215;
  padding: 5px 0;
  border-radius: 2px;
  transition:
    border 500ms,
    background 500ms,
    color 500ms,
    padding 500ms;
  width: 100%;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid #020215;
  font-weight: bold;
  display: block;
}

button:hover,
button:focus,
button:active {
  background: #020215;
  color: white;
  border: 1px solid white;
}

a {
  color: #020215;
  padding: 10px 0;
  border-radius: 2px;
  transition:
    background 500ms,
    color 500ms,
    padding 500ms;
  width: 200px;
  max-width: 100%;
  text-align: center;
}

a:hover,
a:focus,
a:active {
  padding: 10px 20px;
  background: #020215;
  color: white;
}

@media screen and (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #020215;
    color: white;
  }

  a {
    color: white;
  }

  a:hover,
  a:focus,
  a:active {
    background: white;
    color: #020215;
  }

  img {
    background: white;
  }
}
