<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}
    <style>
      {{ template "/philosophy/entry.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main>
      <div class="philosophy-content">
        <article>
          <h1>{{ .Title }}</h1>
          {{ printf "%s" .Entry }}
        </article>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

    <script>
      {{ template "/philosophy/entry.js" . }}
    </script>
  </body>
</html>
