<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}
    <style>
      {{ template "/thought/entry.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main>
      <div class="thought-content">
        <article>
          {{ template "/entry-header.template.html" .Entry }}
          <div class="thought-body">
            {{ .Entry.Content }}
          </div>
        </article>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

  </body>
</html>
