<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}

    <style>
      {{ template "/thought/main.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main class="content-page">
      {{ template "/page-title.template.html" "Thoughts" }}
      
      <div class="content-container">
        <div class="thoughts-list">
          <a href="/thought/responses" class="thought-link">Responses</a>
          <a href="/thought/existence" class="thought-link">Existence</a>
        </div>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

    <script>
      {{ template "/thought/main.js" . }}
    </script>
  </body>
</html>
