<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}

    <style>
      {{ template "/thought/main.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main class="content-page">
      {{ template "/page-title.template.html" "Thoughts" }}
      
      <div class="content-container">
        <div class="thought-list">
          <a href="/thought/2025-04-06-existence" class="thought-link">Existence</a>
          <a href="/thought/2025-04-05-responses" class="thought-link">Responses</a>
          <a href="/thought/2022-12-29-subjective-ethics" class="thought-link">Subjective Ethics</a>
          <a href="/thought/2022-12-18-better-interviews" class="thought-link">Better Interviews</a>
          <a href="/thought/2022-12-14-keeping-one-tab-open" class="thought-link">Keeping One Tab Open</a>
          <a href="/thought/2022-07-28-how-to-have-better-arguments" class="thought-link">How to Have Better Arguments</a>
          <a href="/thought/2022-07-21-how-do-we-work-together?" class="thought-link">How Do We Work Together?</a>
          <a href="/thought/2022-07-19-i-added-poetry-to-my-blog" class="thought-link">I Added Poetry to My Blog</a>
          <a href="/thought/2022-06-25-are-promotions-dehumanizing?" class="thought-link">Are Promotions Dehumanizing?</a>
          <a href="/thought/2022-05-09-reducing-interview-bias" class="thought-link">Reducing Interview Bias</a>
          <a href="/thought/2022-04-21-bias-smells" class="thought-link">Bias Smells</a>
          <a href="/thought/2022-02-22-embracing-impostor-syndrome" class="thought-link">Embracing Impostor Syndrome</a>
          <a href="/thought/2022-01-12-living-on-24-hours-a-day" class="thought-link">Living on 24 Hours a Day</a>
          <a href="/thought/2021-11-22-asking-stupid-questions" class="thought-link">Asking Stupid Questions</a>
          <a href="/thought/2021-11-1-why-did-i-stop-writing?" class="thought-link">Why Did I Stop Writing?</a>
          <a href="/thought/2020-10-24-everything-is-a-product" class="thought-link">Everything Is a Product</a>
        </div>
      </div>
    </main>

    {{ template "/footer.template.html" . }}

    <script>
      {{ template "/thought/main.js" . }}
    </script>
  </body>
</html>
