<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}
    {{ template "/main.css" . }}
    <style>
      {{ template "/poem/main.css" . }}
    </style>
  </head>

  <body>
    {{ template "/header.template.html" . }}

    <main class="content-page">
      {{ template "/page-title.template.html" "Poems" }}
      
      {{ template "/inline-content.template.html" dict "Entries" .Entries "ContainerClass" "poems-grid" "CardClass" "poem-card" "ContentClass" "poem-content" "WrapperTag" "div" }}
    </main>

    {{ template "/footer.template.html" . }}
  </body>
</html>