<!doctype html>
<html lang="en">
  <head>
    {{ template "/meta.template.html" . }}

    <style>
      {{ template "/poem/main.css" . }}
    </style>
  </head>

  <body>
    <main>
      <section>
        {{ $lastIndex := (sub1 (len .Entries)) }} {{ range $i, $entry :=
        .Entries }}
        <div style="text-align: center">
          <p style="text-align: left; display: inline-block">
            {{ printf "%s" $entry }}
          </p>
          {{ if ne $i $lastIndex }}
          <hr />
          {{ end }}
        </div>
        {{ end }}
      </section>
    </main>

    <script>
      {{ template "/poem/main.js" . }}
    </script>
  </body>
</html>
